/*表格*/
.table {
	width: 100%;
    background-color: #fff;
    margin: $bgMargin auto;
    color: #999;
    font-size: $md-font;
    @include height(50px);
    text-align: center;
    td,th {
    	position: relative;
    	padding: 0 $gauge;
    	&:after {
    		@extend .border-bottom:after;
    	}
    }

}